*{
	font-family: helvetica;
	text-align: center;
}
section{
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	" he ";
}

h1 {
	grid-area: he;
}
figure>div{
	/*height: 20vh;
	min-height: 190px;
	*/overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3C3C3C;
}
figure>div>a{
	display: inline-block;
	height: 20vh;
	min-height: 190px;
	/*overflow: hidden;*/
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*background-color: #3C3C3C;*/
}
figure>a{
	display: none;
	font-size: 7vw;
	position: absolute;
	color: #C0C0C0;
	right: 10vw;
}
img{
	vertical-align: middle;
	/*min-height: 100%;*/
	max-height: 100%;


}


figure:target{
	position: fixed;
	width: 80%;
	margin: auto;
	z-index: 999;
}
figure:target>a{
	display: inline;
}
figure:target>div>a{
	height: 100vh;
	min-height: 190px;
}

figure:target img{
	filter: sepia(0%);
}


@media screen and  (min-width: 820px) {
	section{
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		" he he";
	}
	
}
@media screen and (min-width: 1300px) {
	section{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		" he he he";
	}
}