h1{
	color: #F8F8F8;
}
img {
	width: 100%;
}

.grid-container{
	display: grid;
	/*grid-template-columns: 1fr 1fr;*/
	grid-template-columns: 20% 50%;
}
header{
	grid-template-columns: repeat(4, 1fr);
}

header>img{
	grid-column: 1/2;
	background-color: #F90;
}
header>h1{
	grid-column: 2/5;
}

header{
	background-color: #333;
	grid-column: 1/4;
}

nav {
	grid-column:1/4;
}

aside{
	grid-column:1/2;
}

main{
	grid-column: 2/4
}

